#
# Build and deploy the documentation
#
name: Deploy

# Run on main branch only
on:
  # uncomment 'pull_request' line to test the workflow in PR
  # pull_request:
  push:
    branches:
      - main
  schedule:
    # Run weekly at 00:00 on Sunday
    - cron: '0 0 * * 0'

jobs:
  deploy:
    runs-on: ubuntu-latest
    defaults:
      run:
        shell: bash -l {0}
    steps:
      - name: Cancel Previous Runs
        uses: styfle/cancel-workflow-action@0.11.0

      - name: Checkout
        uses: actions/checkout@v3

      - name: Setup Mambaforge
        uses: conda-incubator/setup-miniconda@v2.1.1
        with:
          activate-environment: seismo-learn
          environment-file: environment.yml
          miniforge-variant: Mambaforge
          use-mamba: true

      - uses: actions/cache@v3
        id: cache
        with:
          path: |
            _build/jupyter_execute/
            ~/.local/share/cartopy/
            ~/.matplotlib/
          key: caches

      - name: Disable notebook cache for scheduled jobs
        if: github.event_name == 'schedule'
        run: |
          sed -i"" 's/execute_notebooks: auto/execute_notebooks: force/' source/_config.yml

      - name: Build documentation
        run: make dirhtml

      - name: Deploy documentation
        uses: peaceiris/actions-gh-pages@068dc23d9710f1ba62e86896f84735d869951305
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_dir: ./_build/dirhtml
          # Only keep the latest commit to avoid bloating the repository
          force_orphan: true
          user_name: 'github-actions[bot]'
          user_email: 'github-actions[bot]@users.noreply.github.com'
